Flask==2.1.2
flask-restful==0.3.9
flask-sqlalchemy==2.5.1
sqlalchemy==1.4.29
pandas==1.4.2
numpy==1.22.3
opencv-python==4.5.5.64
pytesseract==0.3.8
nltk==3.7
spacy==3.2.4
matplotlib==3.5.1
seaborn==0.11.2
scikit-learn==1.0.2
tensorflow==2.9.0
torch==1.11.0
transformers==4.19.2
Pillow==9.1.1
pdfplumber==0.6.0
